{% extends "AppBundle::layout.html.twig" %}

{% block title %} Crear {% endblock %}

{% block content %}
	
	<div class="col-lg-4">
		
		<h2>Crear Curso</h2>
		{{form_start(form)}}
		{{form_end(form)}}
		
	</div>

	<div class="clearfix"></div>
	

{% endblock %}