{% extends "AppBundle::layout.html.twig" %}

{% block content %}
	
	<table class="table table-bordered">
		
				
					<td>{{usuario.user}}</td>
					
					


	<div class="clearfix"></div>


{% endblock %}