{% extends "AppBundle::base.html.twig" %}

{% block title %} Ayuda {% endblock %}

{% block content %}

	
	<div class="container" style="height: 80vh">
		<h1>Ayuda</h1>
		<hr>
		<p class="lead">Bienvenido, gracias por interesarte y llegar hasta acá,  intentaremos ayudarte.</p>
		<ul>
		 	<li> Para <a href="{{path("Blog_add_persona")}}">registrarte</a> al sistema de cursos ingresa tus datos y personales, tu usuario, numero de teléfono y tu propuesta de curso.</li>
		 	<li> Estando registrado ve al apartado <a href="{{path("login")}}">Entrar</a>, el cual te permitirá ingresar al sistema de cursos, revisar tu estatus, editar datos y realizar tus gestiones.</li>
		</ul>
		
	</div>

{% endblock %}