{% extends "AppBundle::layout.html.twig" %}

{% block content %}
	<h1>Aprendiendo Symfony 3</h1>
	<hr/>
	<h4>Aprende a desarrollar aplicaciones web con Symfony 3, el framework PHP más moderno y potente.</h4>
{% endblock %}