{% extends "AppBundle::layout.html.twig" %}


{% block content %}
	<div class="text-center">
		<h1>Aprendiendo</h1>
		<h1>Symfony 3</h1>
		<p class="lead">Aprende a desarrollar aplicaciones web con Symfony 3, el framework PHP más moderno y potente</p>
		<hr/>
	</div>
		
{% endblock %}