{% extends "AppBundle::layout.html.twig" %}
{% block content %}
	<div class="col-lg-4">
		{% for message in app.session.flashbag().get('status') %}
			<div class="alert alert-success">{{ message }}</div>
		{% endfor %}
		<h2>Persona</h2>
		{{form_start(form)}}
		{{form_end(form)}}
	</div>

	<div class="clearfix"></div>
{% endblock %}